body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  nav{
    color: black;
    background-color: #edefbd;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
.page-footer {
    padding-top: 20px;
    color: black;
    background-color: #edefbd;
}

nav .brand-logo {
    position: absolute;
    color: black;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

nav ul a {
    color: black;
}